/* Contrast: #ffffff */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #000000 */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #000000 */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #000000 */
/* Contrast: #ffffff */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
.nav__logo,
.footer__logo {
  padding: 2em;
}
.nav__logo-text,
.footer__logo-text {
  display: inline-flex;
  align-items: center;
  color: var(--primary-500, #222831);
}
.nav__logo-img,
.footer__logo-img {
  margin-right: 0.3em;
}
.nav__logo a span,
.footer__logo a span {
  background: var(--linear, linear-gradient(315deg, rgba(0, 173, 181, 0.6) 0%, rgba(0, 162, 170, 0.6) 9.09%, rgba(0, 152, 159, 0.6) 18.18%, rgba(0, 141, 148, 0.6) 27.27%, rgba(0, 131, 137, 0.6) 36.36%, rgba(21, 134, 140, 0.6) 45.45%, rgba(34, 138, 143, 0.6) 54.55%, rgba(44, 141, 146, 0.6) 63.64%, rgba(65, 158, 163, 0.6) 72.73%, rgba(85, 176, 181, 0.6) 81.82%, rgba(103, 194, 199, 0.6) 90.91%, rgba(122, 212, 217, 0.6) 100%));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-weight: bold;
}

.nav__blog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav,
.footer {
  background: rgba(246, 246, 246, 0.6);
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}
.nav a,
.footer a {
  color: rgb(34, 40, 49);
}
.nav a span,
.footer a span {
  background: var(--linear, linear-gradient(315deg, rgba(0, 173, 181, 0.6) 0%, rgba(0, 162, 170, 0.6) 9.09%, rgba(0, 152, 159, 0.6) 18.18%, rgba(0, 141, 148, 0.6) 27.27%, rgba(0, 131, 137, 0.6) 36.36%, rgba(21, 134, 140, 0.6) 45.45%, rgba(34, 138, 143, 0.6) 54.55%, rgba(44, 141, 146, 0.6) 63.64%, rgba(65, 158, 163, 0.6) 72.73%, rgba(85, 176, 181, 0.6) 81.82%, rgba(103, 194, 199, 0.6) 90.91%, rgba(122, 212, 217, 0.6) 100%));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.nav a a:visited,
.nav a a:active, .nav a a:hover,
.footer a a:visited,
.footer a a:active,
.footer a a:hover {
  color: #00767b;
  font-weight: bold;
}
.nav-list,
.footer-list {
  list-style: none;
  text-align: center;
}
.nav__mobile,
.footer__mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transform: translateX(-102%);
  transition: transform 0.3s;
}
.nav__mobile--active,
.footer__mobile--active {
  transform: translateX(0);
}
.nav__mobile-list div,
.footer__mobile-list div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 3em;
  z-index: 100;
  background-color: #fff;
}
.nav-item a,
.footer-item a {
  padding: 1em 0.5em;
  position: relative;
}
.nav-item a::after,
.footer-item a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 0%;
  background-color: rgb(34, 40, 49);
  height: 0px;
  content: "";
  transition: 0.3s;
}
.nav-item a:hover::after,
.footer-item a:hover::after {
  height: 2px;
  width: 100%;
}
.nav hr,
.footer hr {
  width: 100%;
}
.nav__desktop,
.footer__desktop {
  display: none;
}

.footer--mobile-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer--mobile-social-media-box {
  padding: 2em;
}
.footer--mobile-social-media-box a {
  margin-right: 0.5em;
}
.footer--mobile-copyright {
  text-align: center;
  padding-bottom: 2em;
}

@media (width >= 992px) {
  .nav__blog, .nav__logo-text {
    font-size: 2rem;
  }
  .nav,
  .footer {
    font-size: 2rem;
  }
  .nav__desktop,
  .footer__desktop {
    display: block;
  }
  .nav__desktop-box,
  .footer__desktop-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__desktop-list,
  .footer__desktop-list {
    display: flex;
  }
  .nav__desktop-list a,
  .footer__desktop-list a {
    margin-right: 1.87em;
    padding: 0.5em;
  }
  .nav .faq-item,
  .footer .faq-item {
    padding-right: 2em;
    border-right: 1px solid rgb(34, 40, 49);
  }
  .nav__logo-mobile {
    display: none;
  }
  .footer__desktop__bottom-box {
    padding: 0 2em 1em 2em;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }
  .footer__desktop-social-media-box a {
    margin-right: 1em;
  }
  .footer--mobile {
    display: none;
  }
}
@media (width >= 1200px) {
  .nav,
  .footer,
  .nav__blog {
    font-size: 2.4rem;
  }
  .footer__desktop__bottom-box {
    padding: 0 2em 1em 2em;
    display: flex;
    width: 65%;
  }
  .nav__logo-text, .footer__logo-text, .footer-links a {
    font-size: 2.4rem;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: auto;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: "Poppins", sans-serif;
  color: rgb(34, 40, 49);
  font-size: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section-padding {
  padding: 6em 2em;
}

.section-heading {
  margin-bottom: 1em;
  text-transform: uppercase;
}

.btn-primary {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  border-radius: 1.6rem;
  width: 40%;
  background: var(--btn-background-500, #fec85b);
  color: rgb(34, 40, 49);
  text-align: center;
  font-weight: bold;
  margin: 2em auto;
  transition: background-color 0.3s;
}
.btn-primary:hover {
  background-color: #d5a84c;
}

.btn-secondary {
  display: block;
  text-decoration: none;
  color: rgb(34, 40, 49);
  font-weight: bold;
  background-color: transparent transparent;
  padding: 1em 2em;
  width: 40%;
  border-radius: 16px;
  border: 3px solid rgb(34, 40, 49);
  margin: 0 auto;
  margin-top: 1.5em;
  text-align: center;
  transition: color 0.3s, border 0.3s;
}
.btn-secondary:hover {
  color: #fec85b;
  border: 3px solid #fec85b;
}

.btn-back {
  border-radius: 1.6rem;
  border: 3px solid var(--primary-700, #171b21);
  padding: 1em 2em;
  color: rgb(34, 40, 49);
  background: transparent;
  font-weight: bold;
}

.section-heading {
  text-transform: uppercase;
}

@media (width >= 968px) {
  .btn-primary, .btn-back,
  .btn-secondary {
    font-size: 2rem;
  }
}
@media (width >= 1200px) {
  .btn-primary, .btn-back,
  .btn-secondary {
    font-size: 2.4rem;
  }
}
.header__blog {
  padding: 6em 2em;
  background: var(--linear, linear-gradient(315deg, rgba(0, 173, 181, 0.6) 0%, rgba(0, 162, 170, 0.6) 9.09%, rgba(0, 152, 159, 0.6) 18.18%, rgba(0, 141, 148, 0.6) 27.27%, rgba(0, 131, 137, 0.6) 36.36%, rgba(21, 134, 140, 0.6) 45.45%, rgba(34, 138, 143, 0.6) 54.55%, rgba(44, 141, 146, 0.6) 63.64%, rgba(65, 158, 163, 0.6) 72.73%, rgba(85, 176, 181, 0.6) 81.82%, rgba(103, 194, 199, 0.6) 90.91%, rgba(122, 212, 217, 0.6) 100%));
  color: rgb(255, 255, 255);
}
.header__blog-author {
  text-align: center;
}
.header__blog-author img {
  width: 60px;
}
.header__blog-info {
  margin-top: 0.3em;
  text-decoration: underline;
}
.header__blog .blog-title {
  font-size: 3.1rem;
  margin-bottom: 1em;
  letter-spacing: 3px;
}

.blog-heading {
  margin-bottom: 0.5em;
}

.heading-description {
  margin-bottom: 1.25em;
}

.blog__img-box {
  position: relative;
}
.blog__img-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s;
}
.blog__img-box:hover::after {
  background-color: rgba(0, 0, 0, 0.8);
}
.blog__img-box .btn-primary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 2em;
  text-transform: uppercase;
  z-index: 100;
}
.blog__img {
  width: 100%;
}
.blog__source {
  margin-top: 0.5em;
  text-align: center;
  color: var(--primary-200, #8C8F94);
  transition: color 0.3s;
}
.blog__source:hover {
  color: var(--primary-500, #222831);
}

@media (width >= 768px) {
  .header__blog-author {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .header__blog-info {
    font-size: 2rem;
  }
  .header__blog .blog-title {
    font-size: 4rem;
  }
  .blog-heading {
    font-size: 2.8rem;
  }
  .heading-description {
    font-size: 2rem;
  }
  .blog__source {
    font-size: 2rem;
  }
  .blog__img-box .btn-primary {
    padding: 2em 3em;
  }
}
@media (width >= 1200px) {
  .header__blog-info {
    font-size: 2.4rem;
  }
  .header__blog .blog-title {
    font-size: 4.2rem;
  }
  .blog-heading {
    font-size: 3.6rem;
  }
  .heading-description {
    font-size: 2.4rem;
  }
}/*# sourceMappingURL=blog.css.map */