/* Contrast: #ffffff */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #000000 */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #000000 */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #000000 */
/* Contrast: #ffffff */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
.nav__logo,
.footer__logo {
  padding: 2em;
}
.nav__logo-text,
.footer__logo-text {
  display: inline-flex;
  align-items: center;
  color: var(--primary-500, #222831);
}
.nav__logo-img,
.footer__logo-img {
  margin-right: 0.3em;
}
.nav__logo a span,
.footer__logo a span {
  color: #00767b;
  font-weight: bold;
}

.nav__blog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav,
.footer {
  background: rgba(246, 246, 246, 0.6);
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}
.nav a,
.footer a {
  color: rgb(34, 40, 49);
}
.nav a span,
.footer a span {
  color: #00767b;
  font-weight: bold;
}
.nav a a:visited,
.nav a a:active,
.footer a a:visited,
.footer a a:active {
  color: #00767b;
  font-weight: bold;
}
.nav-list,
.footer-list {
  list-style: none;
  text-align: center;
}
.nav__mobile,
.footer__mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transform: translateX(-102%);
  transition: transform 0.3s;
}
.nav__mobile--active,
.footer__mobile--active {
  transform: translateX(0);
}
.nav__mobile-list div,
.footer__mobile-list div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 3em;
  z-index: 100;
  background-color: #fff;
}
.nav-item a,
.footer-item a {
  padding: 1em 0.5em;
  position: relative;
}
.nav-item a::after,
.footer-item a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 0%;
  background-color: rgb(34, 40, 49);
  height: 0px;
  content: "";
  transition: 0.3s;
}
.nav-item a:hover::after,
.footer-item a:hover::after {
  height: 2px;
  width: 100%;
}
.nav hr,
.footer hr {
  width: 100%;
}
.nav__desktop,
.footer__desktop {
  display: none;
}

.footer--mobile-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer--mobile-social-media-box {
  padding: 2em;
}
.footer--mobile-social-media-box a {
  margin-right: 0.5em;
}
.footer--mobile-copyright {
  text-align: center;
  padding-bottom: 2em;
}

@media (width >= 992px) {
  .nav__blog, .nav__logo-text {
    font-size: 2rem;
  }
  .nav,
  .footer {
    font-size: 2rem;
  }
  .nav__desktop,
  .footer__desktop {
    display: block;
  }
  .nav__desktop-box,
  .footer__desktop-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__desktop-list,
  .footer__desktop-list {
    display: flex;
  }
  .nav__desktop-list a,
  .footer__desktop-list a {
    margin-right: 1.87em;
    padding: 0.5em;
  }
  .nav .faq-item,
  .footer .faq-item {
    padding-right: 2em;
    border-right: 1px solid rgb(34, 40, 49);
  }
  .nav__logo-mobile {
    display: none;
  }
  .footer__desktop__bottom-box {
    padding: 0 2em 1em 2em;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }
  .footer__desktop-social-media-box a {
    margin-right: 1em;
  }
  .footer--mobile {
    display: none;
  }
}
@media (width >= 1200px) {
  .nav,
  .footer,
  .nav__blog {
    font-size: 2.4rem;
  }
  .footer__desktop__bottom-box {
    padding: 0 2em 1em 2em;
    display: flex;
    width: 65%;
  }
  .nav__logo-text, .footer__logo-text, .footer-links a {
    font-size: 2.4rem;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: auto;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: "Poppins", sans-serif;
  color: rgb(34, 40, 49);
  font-size: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section-padding {
  padding: 6em 2em;
}

.section-heading {
  margin-bottom: 1em;
  text-transform: uppercase;
}

.btn-primary {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  border-radius: 1.6rem;
  width: 40%;
  background: var(--btn-background-500, #fec85b);
  text-align: center;
  font-weight: bold;
  margin: 2em auto;
  transition: background-color 0.3s;
}
.btn-primary:hover {
  background-color: #d5a84c;
}

.btn-secondary {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: rgb(34, 40, 49);
  font-weight: bold;
  background-color: transparent transparent;
  padding: 1em 2em;
  width: 40%;
  border-radius: 16px;
  border: 3px solid rgb(34, 40, 49);
  margin-top: 3em;
  transition: color 0.3s, border 0.3s;
}
.btn-secondary:hover {
  color: #fec85b;
  border: 3px solid #fec85b;
}

.btn-back {
  border-radius: 1rem;
  border: 3px solid var(--primary-700, #171b21);
  padding: 1rem 2rem;
  background: transparent;
  font-weight: bold;
}

.section-heading {
  text-transform: uppercase;
}

@media (width >= 968px) {
  .btn-primary, .btn-back,
  .btn-secondary {
    font-size: 2rem;
  }
}
@media (width >= 1200px) {
  .btn-primary, .btn-back,
  .btn-secondary {
    font-size: 2.4rem;
  }
}
.main {
  padding: 2em;
  text-align: center;
  height: 80vh;
  position: relative;
}
.main .third__step-box {
  margin-bottom: 1em;
  display: flex;
  flex: 1 0 0;
  align-items: center;
  gap: 1em;
  color: rgb(140, 143, 148);
}
.main .third__step-box-number {
  position: relative;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(193, 195, 197);
}
.main .third__step-box-active > .third__step-box-number {
  background-color: rgb(254, 200, 91);
}
.main .third__step-box-active {
  color: rgb(34, 40, 49);
}
.main .third__step-box hr {
  display: none;
}
.main .congrats-heading {
  margin: 4em 0;
}
.main .congrats-btns {
  font-size: 1.6rem;
  font-weight: bold;
}
.main .congrats-btns .btn-userpanel {
  border: 3px solid rgb(34, 40, 49);
  color: rgb(34, 40, 49);
  display: inline-block;
  padding: 1em 2em;
  width: 40%;
  border-radius: 16px;
  margin: 2em;
  text-align: center;
  transition: color 0.3s, border 0.3s;
}
.main .congrats-btns .btn-userpanel:hover {
  color: rgb(254, 200, 91);
  border: 3px solid rgb(254, 200, 91);
}
.main .confetti {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 150px;
  z-index: -1;
  width: 100%;
  max-width: 1200px;
}

@media (width >= 568px) {
  .third__step-boxes {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
}
@media (width >= 992px) {
  .third__step-boxes,
  .main .congrats-btns {
    font-size: 2rem;
  }
  .main .third__step-box-number {
    width: 40px;
    height: 40px;
  }
  .main .congrats-heading {
    font-size: 3.2rem;
  }
  .main .congrats-btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main .confetti {
    top: 5%;
  }
}
@media (width >= 1200px) {
  .third__step-boxes,
  .main .congrats-btns {
    font-size: 2.4rem;
  }
  .main .congrats-heading {
    font-size: 4.2rem;
  }
}/*# sourceMappingURL=thirdstep.css.map */