/* Contrast: #ffffff */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #000000 */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #000000 */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #000000 */
/* Contrast: #ffffff */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #212529 */
/* Contrast: #ffffff */
/* Contrast: #ffffff */
.nav__logo,
.footer__logo {
  padding: 2em;
}
.nav__logo-text,
.footer__logo-text {
  display: inline-flex;
  align-items: center;
  color: var(--primary-500, #222831);
}
.nav__logo-img,
.footer__logo-img {
  margin-right: 0.3em;
}
.nav__logo a span,
.footer__logo a span {
  background: var(--linear, linear-gradient(315deg, rgba(0, 173, 181, 0.6) 0%, rgba(0, 162, 170, 0.6) 9.09%, rgba(0, 152, 159, 0.6) 18.18%, rgba(0, 141, 148, 0.6) 27.27%, rgba(0, 131, 137, 0.6) 36.36%, rgba(21, 134, 140, 0.6) 45.45%, rgba(34, 138, 143, 0.6) 54.55%, rgba(44, 141, 146, 0.6) 63.64%, rgba(65, 158, 163, 0.6) 72.73%, rgba(85, 176, 181, 0.6) 81.82%, rgba(103, 194, 199, 0.6) 90.91%, rgba(122, 212, 217, 0.6) 100%));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-weight: bold;
}

.nav__blog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav,
.footer {
  background: rgba(246, 246, 246, 0.6);
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}
.nav a,
.footer a {
  color: rgb(34, 40, 49);
}
.nav a span,
.footer a span {
  background: var(--linear, linear-gradient(315deg, rgba(0, 173, 181, 0.6) 0%, rgba(0, 162, 170, 0.6) 9.09%, rgba(0, 152, 159, 0.6) 18.18%, rgba(0, 141, 148, 0.6) 27.27%, rgba(0, 131, 137, 0.6) 36.36%, rgba(21, 134, 140, 0.6) 45.45%, rgba(34, 138, 143, 0.6) 54.55%, rgba(44, 141, 146, 0.6) 63.64%, rgba(65, 158, 163, 0.6) 72.73%, rgba(85, 176, 181, 0.6) 81.82%, rgba(103, 194, 199, 0.6) 90.91%, rgba(122, 212, 217, 0.6) 100%));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.nav a a:visited,
.nav a a:active, .nav a a:hover,
.footer a a:visited,
.footer a a:active,
.footer a a:hover {
  color: #00767b;
  font-weight: bold;
}
.nav-list,
.footer-list {
  list-style: none;
  text-align: center;
}
.nav__mobile,
.footer__mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transform: translateX(-102%);
  transition: transform 0.3s;
}
.nav__mobile--active,
.footer__mobile--active {
  transform: translateX(0);
}
.nav__mobile-list div,
.footer__mobile-list div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 3em;
  z-index: 100;
  background-color: #fff;
}
.nav-item a,
.footer-item a {
  padding: 1em 0.5em;
  position: relative;
}
.nav-item a::after,
.footer-item a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 0%;
  background-color: rgb(34, 40, 49);
  height: 0px;
  content: "";
  transition: 0.3s;
}
.nav-item a:hover::after,
.footer-item a:hover::after {
  height: 2px;
  width: 100%;
}
.nav hr,
.footer hr {
  width: 100%;
}
.nav__desktop,
.footer__desktop {
  display: none;
}

.footer--mobile-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer--mobile-social-media-box {
  padding: 2em;
}
.footer--mobile-social-media-box a {
  margin-right: 0.5em;
}
.footer--mobile-copyright {
  text-align: center;
  padding-bottom: 2em;
}

@media (width >= 992px) {
  .nav__blog, .nav__logo-text {
    font-size: 2rem;
  }
  .nav,
  .footer {
    font-size: 2rem;
  }
  .nav__desktop,
  .footer__desktop {
    display: block;
  }
  .nav__desktop-box,
  .footer__desktop-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__desktop-list,
  .footer__desktop-list {
    display: flex;
  }
  .nav__desktop-list a,
  .footer__desktop-list a {
    margin-right: 1.87em;
    padding: 0.5em;
  }
  .nav .faq-item,
  .footer .faq-item {
    padding-right: 2em;
    border-right: 1px solid rgb(34, 40, 49);
  }
  .nav__logo-mobile {
    display: none;
  }
  .footer__desktop__bottom-box {
    padding: 0 2em 1em 2em;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }
  .footer__desktop-social-media-box a {
    margin-right: 1em;
  }
  .footer--mobile {
    display: none;
  }
}
@media (width >= 1200px) {
  .nav,
  .footer,
  .nav__blog {
    font-size: 2.4rem;
  }
  .footer__desktop__bottom-box {
    padding: 0 2em 1em 2em;
    display: flex;
    width: 65%;
  }
  .nav__logo-text, .footer__logo-text, .footer-links a {
    font-size: 2.4rem;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: auto;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: "Poppins", sans-serif;
  color: rgb(34, 40, 49);
  font-size: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section-padding {
  padding: 6em 2em;
}

.section-heading {
  margin-bottom: 1em;
  text-transform: uppercase;
}

.btn-primary {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  border-radius: 1.6rem;
  width: 40%;
  background: var(--btn-background-500, #fec85b);
  color: rgb(34, 40, 49);
  text-align: center;
  font-weight: bold;
  margin: 2em auto;
  transition: background-color 0.3s;
}
.btn-primary:hover {
  background-color: #d5a84c;
}

.btn-secondary {
  display: block;
  text-decoration: none;
  color: rgb(34, 40, 49);
  font-weight: bold;
  background-color: transparent transparent;
  padding: 1em 2em;
  width: 40%;
  border-radius: 16px;
  border: 3px solid rgb(34, 40, 49);
  margin: 0 auto;
  margin-top: 1.5em;
  text-align: center;
  transition: color 0.3s, border 0.3s;
}
.btn-secondary:hover {
  color: #fec85b;
  border: 3px solid #fec85b;
}

.btn-back {
  border-radius: 1.6rem;
  border: 3px solid var(--primary-700, #171b21);
  padding: 1em 2em;
  color: rgb(34, 40, 49);
  background: transparent;
  font-weight: bold;
}

.section-heading {
  text-transform: uppercase;
}

@media (width >= 968px) {
  .btn-primary, .btn-back,
  .btn-secondary {
    font-size: 2rem;
  }
}
@media (width >= 1200px) {
  .btn-primary, .btn-back,
  .btn-secondary {
    font-size: 2.4rem;
  }
}
.cv-classic-style {
  border: 10px solid #0086de !important;
}
.cv-classic-style .personal-info-boxes {
  display: flex;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 50px;
}
.cv-classic-style .personal-info-boxes div {
  margin-right: 10px;
}
.cv-classic-style .personal-data-boxes {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  background-color: #0086de;
  width: 100%;
  margin: 20px 0 30px 15px;
}
.cv-classic-style .personal-data-boxes .personal-data-box {
  margin-right: 10px;
  display: flex;
  width: 40%;
}
.cv-classic-style .personal-data-boxes .personal-data-box i {
  margin-right: 10px;
}
.cv-classic-style .main-box {
  display: flex;
  gap: 10px;
}
.cv-classic-style .main-box-left {
  width: 60%;
  border-right: 5px solid #0086de;
}
.cv-classic-style .main-box-right {
  width: 40%;
}
.cv-classic-style h3 {
  text-transform: uppercase;
}

.main {
  padding: 2em;
  text-align: center;
  height: 80vh;
  position: relative;
}
.main img {
  width: 100%;
  height: 100%;
}
.main .third__step-box {
  margin-bottom: 1em;
  display: flex;
  flex: 1 0 0;
  align-items: center;
  gap: 1em;
  color: rgb(140, 143, 148);
}
.main .third__step-box-number {
  position: relative;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(193, 195, 197);
}
.main .third__step-box-active > .third__step-box-number {
  background-color: rgb(254, 200, 91);
}
.main .third__step-box-active {
  color: rgb(34, 40, 49);
}
.main .third__step-box hr {
  display: none;
}
.main .congrats-heading {
  margin: 4em 0;
}
.main .congrats-btns {
  font-size: 1.6rem;
  font-weight: bold;
}
.main .congrats-btns .btn-userpanel {
  border: 3px solid rgb(34, 40, 49);
  color: rgb(34, 40, 49);
  display: inline-block;
  padding: 1em 2em;
  width: 40%;
  border-radius: 16px;
  margin: 2em;
  text-align: center;
  transition: color 0.3s, border 0.3s;
}
.main .congrats-btns .btn-userpanel:hover {
  color: rgb(254, 200, 91);
  border: 3px solid rgb(254, 200, 91);
}
.main .confetti {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 150px;
  z-index: -1;
  width: 100%;
  max-width: 1200px;
}

.nav .open-overlay {
  position: absolute;
  right: 20px;
  top: 20px;
}
.nav .open-overlay .open-btn {
  background: none;
}

.main-step {
  padding: 2em;
  overflow: hidden;
}
.main-step .cv-title-input {
  font-size: 2rem;
  padding: 0.5em;
  width: calc(100% - 1em);
  margin: 0.5em 0;
  border: 2px solid #c8c8c8;
  border-radius: 0.5em;
}
.main-step .cv-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.main-step .section-title {
  font-size: 2rem;
}
.main-step .personal-info-box {
  margin-top: 0.5em;
}
.main-step .form-group {
  position: relative;
}
.main-step .form-group input {
  display: block;
  margin-bottom: 1em;
}
.main-step .form-group input,
.main-step .form-group textarea {
  font-size: 1.6rem;
  width: 100%;
  padding: 1em 2em;
  border-radius: 1.6rem;
  border: 2px solid var(--bg-color-600, #c8c8c8);
}
.main-step .form-group textarea {
  padding: 2.5em 1em 2em 2em;
  margin-bottom: 1.5em;
}
.main-step .form-group .photo-upload {
  border: none;
  display: none;
}
.main-step .form-group .text-area-box {
  position: relative;
}
.main-step .form-group .text-area-box .btn-box {
  position: absolute;
  left: 10px;
}
.main-step .form-group .text-area-box .btn-box .tool {
  font-size: 1.6rem;
  padding: 0.5em;
  background: none;
  color: rgb(140, 143, 148);
  transition: color 0.3s;
}
.main-step .form-group .text-area-box .btn-box .tool:hover {
  color: rgb(34, 40, 49);
}
.main-step .form-group .upload-label {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1rem 0;
  color: rgb(254, 200, 91);
  font-weight: bold !important;
  border-radius: 4px;
  cursor: pointer;
}
.main-step .form-group .input-title {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.5em;
}
.main-step .form-group .input-title .form-group-info-box {
  position: relative;
  cursor: pointer;
}
.main-step .form-group .input-title .form-group-info-box::before {
  content: attr(data-content);
  position: absolute;
  top: -150%;
  left: -250%;
  padding: 1em;
  width: 150px;
  text-align: center;
  border: 1px solid rgb(254, 200, 91);
  background-color: #fff;
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  font-size: 1.4rem;
  transition: opacity 0.3s, visibility 0.3s;
}
.main-step .form-group .input-title .form-group-info-box::before:nth-of-type(1) {
  content: "elo";
}
.main-step .form-group .input-title .form-group-info-box:hover::before {
  opacity: 1;
  visibility: visible;
}
.main-step .primary-btn-box {
  margin-top: 1em;
}
.main-step .primary-btn-box .btn-primary {
  width: 100%;
  margin-top: 0.5em;
}
.main-step .primary-btn-box .btn-back {
  display: block;
  width: 100%;
  text-align: center;
  color: rgb(34, 40, 49);
  font-weight: bold;
}
.main-step .primary-btn-box .reset-btn {
  margin-top: 0.5em;
}
.main-step .primary-btn-box .fa-solid {
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}
.main-step .primary-btn-box .btn-back:hover .fa-solid {
  transform: translateX(-20px);
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  display: flex;
  transform: translateX(120%);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: transform 0.3s;
}
.overlay-active {
  transform: translateX(0);
}
.overlay .rectangle {
  background: #d9d9d9;
  height: 100vh;
  width: 100%;
  border-radius: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .rectangle .cv-preview {
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 1.6rem;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  background-size: contain;
  background-position: center;
  z-index: 1;
}
.overlay .rectangle .cv-preview ul,
.overlay .rectangle .cv-preview li {
  margin-left: 30px;
}
.overlay .close-btn {
  position: absolute;
  background: none;
  top: 20px;
  right: 20px;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strike-through {
  text-decoration: line-through;
}

.cv-preview .cv-section {
  position: relative;
  z-index: 2;
  word-break: break-word;
}

.cv-section {
  margin-bottom: 20px;
}

.cv-section h3 {
  margin-bottom: 10px;
}

.cv-section p {
  margin-bottom: 2em;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

.cv-preview-container {
  text-align: left;
}
.cv-preview-container h3 {
  margin-left: 20px;
}
.cv-preview-container p {
  margin-left: 30px;
}

.cv-preview {
  position: relative;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ddd;
}

.cv-photo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  right: 20px;
  top: 20px;
}
.cv-photo img {
  -o-object-fit: cover;
     object-fit: cover;
}

.cv-photo img {
  width: 100%;
  height: auto;
}

.cv-section {
  margin-bottom: 20px;
}

.cv-section h3 {
  margin-bottom: 10px;
}

.cv-photo {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.cv-photo img {
  width: 100%;
  height: auto;
}

.cv-modern-style {
  position: relative;
  background-image: linear-gradient(180deg, #001738 24.21%, #000d20 97.72%);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.cv-modern-style .personal-info-boxes-modern {
  grid-column: 2/-1;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  right: 0;
  background-image: url("../../dist/img/Group15.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; /* lub auto */
  border: none;
  background-position: center right;
  color: #162d50;
  font-size: 20px;
  padding: 1em;
  right: 0;
}
.cv-modern-style .personal-info-boxes-modern .cv-section {
  margin: 0;
  padding: 0;
}
.cv-modern-style .personal-info-boxes-modern p {
  margin-right: 10px;
  margin-bottom: 0;
}
.cv-modern-style .cv-photo {
  left: 50px;
  top: 20px;
}
.cv-modern-style .main-box-modern {
  grid-column: 1/-1;
}
.cv-modern-style .personal-data-boxes-modern {
  grid-column: 1/-1;
  background-image: url("../../dist/img/Group15.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; /* lub auto */
  border: none;
  background-position: center right;
  color: #162d50;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1em 0 1em;
}
.cv-modern-style .personal-data-boxes-modern .personal-data-box-modern {
  display: flex;
  gap: 10px;
  width: 50%;
  margin: 0;
}
.cv-modern-style h3 {
  color: #162d50;
  padding: 1em;
  background-image: url("../../dist/img/Group15.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; /* lub auto */
  border: none;
  background-position: center right;
  border: none;
  width: 60%;
}
.cv-modern-style .photo {
  position: absolute;
}
.cv-modern-style .photo-1 {
  top: 0;
  left: 0;
}
.cv-modern-style .photo-2 {
  right: 10%;
  top: 30%;
}
.cv-modern-style .photo-3 {
  left: 0;
  top: 60%;
}
.cv-modern-style .photo-4 {
  right: 10%;
  top: 70%;
}

.cv-creative-style {
  padding: 0;
  position: relative;
  display: flex;
}
.cv-creative-style .cv-photo {
  left: 45%;
}
.cv-creative-style h3 {
  text-transform: uppercase;
}
.cv-creative-style .main-box-left-creative {
  width: 65%;
  padding: 20px;
  color: #345ab3;
}
.cv-creative-style .main-box-left-creative h3 {
  border-bottom: 1px solid #1a409a;
}
.cv-creative-style .main-box-left-creative .personal-info-creative {
  font-size: 28px;
  text-transform: uppercase;
  border-bottom: 3px solid #1a409a;
  margin-left: 20px;
  margin-bottom: 20px;
}
.cv-creative-style .main-box-left-creative .personal-info-creative p {
  margin-bottom: 10px;
  font-weight: bold;
}
.cv-creative-style .main-box-left-creative .personal-info-creative #preview-job-title {
  font-size: 20px;
  font-weight: 100;
  text-transform: capitalize;
}
.cv-creative-style .main-box-right-creative {
  color: #fff;
  padding: 20px;
  width: 35%;
  background-color: #1a409a;
}
.cv-creative-style .main-box-right-creative .personal-data-box-creative-item {
  display: flex;
  gap: 10px;
}

.cv-mini-style {
  display: flex;
  position: relative;
  padding: 0;
}
.cv-mini-style h3 {
  text-transform: uppercase;
}
.cv-mini-style .main-box-mini {
  z-index: -1;
}
.cv-mini-style .main-box-mini-left, .cv-mini-style .main-box-mini-right {
  padding-top: 160px;
  padding-left: 20px;
  padding-right: 20px;
}
.cv-mini-style .main-box-mini-left {
  width: 35%;
  background-color: #2b3743;
  color: #fff;
}
.cv-mini-style .main-box-mini-left .cv-section p {
  margin-bottom: 10px;
}
.cv-mini-style .main-box-mini-left .cv-section h3 {
  margin-top: 10px;
}
.cv-mini-style .main-box-mini-right {
  width: 65%;
  background-color: #eeeeee;
}
.cv-mini-style .main-box-mini-right p {
  color: 8C8D8D;
}
.cv-mini-style .main-box-mini-right .cv-section-info {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.cv-mini-style .main-box-mini-right .cv-section-info hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #000;
  margin: 0 10px;
}
.cv-mini-style-author {
  position: absolute;
  top: 3%;
  left: 0;
  width: 100%;
  max-height: 20%;
  background-color: #548ca8;
  padding: 1em;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  z-index: 10;
}
.cv-mini-style-author .cv-photo {
  top: -20%;
  width: 150px;
  height: 150px;
  border: 5px solid #fff;
}
.cv-mini-style-author .cv-section {
  margin: 0;
}
.cv-mini-style-author p {
  margin-bottom: 10px;
}
.cv-mini-style-author-name {
  font-size: 28px;
  display: flex;
  gap: 10px;
  font-weight: bold;
}
.cv-mini-style .personal-data-box-mini-item {
  display: flex;
  gap: 10px;
}
.cv-mini-style .personal-data-box-mini-item p {
  margin: 0;
}

@media (max-width: 650px) {
  .cv-modern-style h3 {
    width: 100%;
  }
}
@media (width >= 568px) {
  .third__step-boxes {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
}
@media (width >= 992px) {
  .third__step-boxes,
  .main .congrats-btns {
    font-size: 2rem;
  }
  .main .third__step-box-number {
    width: 40px;
    height: 40px;
  }
  .main .congrats-heading {
    font-size: 3.2rem;
  }
  .main .congrats-btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main .confetti {
    top: 5%;
  }
  .nav .open-overlay {
    display: none;
  }
  .main-step {
    display: flex;
    overflow: visible;
    position: relative;
    gap: 1em;
  }
  .main-step .cv-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  .main-step .form-group {
    position: relative;
  }
  .main-step .form-group input {
    display: block;
    margin-bottom: 1em;
  }
  .main-step .form-group input,
  .main-step .form-group textarea {
    font-size: 2rem;
  }
  .main-step .form-group .upload-label {
    font-size: 2rem;
  }
  .main-step .form-group .input-title {
    font-size: 2rem;
  }
  .main-step .overlay {
    position: sticky;
    top: 10%;
    width: 100%;
    height: 100%;
    transform: translateX(0);
  }
  .main-step .overlay .close-btn {
    display: none;
  }
  .main-step .cv-title {
    font-size: 3.2rem;
  }
  .main-step .section-title {
    font-size: 2.4rem;
  }
}
@media (width >= 1200px) {
  .third__step-boxes,
  .main .congrats-btns {
    font-size: 2.4rem;
  }
  .main .congrats-heading {
    font-size: 4.2rem;
  }
  .primary-btn-box {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  .primary-btn-box .btn-back {
    height: 100%;
    margin-top: 12px;
  }
  .main-step .cv-title {
    font-size: 4.2rem;
  }
  .main-step .section-title {
    font-size: 2.8rem;
  }
  .main-step .personal-info-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  .main-step .personal-info-box .form-group {
    width: 45%;
  }
}/*# sourceMappingURL=thirdstep.css.map */